body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  width: 100vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 45vw;
  margin-top: 5vh;
  -webkit-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.42);
  box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.42);
  border-radius: 6px;
  padding: 30px;
  margin-bottom: 5vh;
}

.label {
  padding: 20px 0 20px 0;
}

.buttons button {
  width: 15rem;
  height: 3rem;
  background: grey;
  color: white;
}

.confirm {
  background: rgb(255, 51, 51) !important;
}

.confirmation {
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 80vw;
  }
}
