body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  width: 100vw;
  margin-bottom: 5vh;
  padding-bottom: 5vh;
}

.container {
  background: white;
  padding: 50px;
  margin-top: 5vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: fit-content;
}

//////////////////
ol {
  counter-reset: item;
}

.list {
  padding: 0;
}
li {
  display: block;
  text-align: justify;
}
li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
}

p {
  text-align: justify;
}

.text {
  display: flex;
  input {
    font-size: 13px;
    margin: 0;
    padding: 0 5px;
  }
}

///////////////////
textarea,
input[type="number"]:focus,
input[type="number"]:active,
input[type="number"],
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"] {
  border-style: none;
  // border-bottom-style: solid;
  // border-bottom-width: 1px;
  outline: none;
}

.line {
  display: flex;
}

h4 {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.purchaser,
.purchaser-2 {
  td,
  th {
    padding: 0;
    border: 1px solid #dddddd;
    font-size: 13px;
    text-align: left;
    padding: 8px;
  }

  input {
    width: 100%;
  }
}

.privacy {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  button {
    font-size: 13px;
    background: white;
    margin: 5px;
    padding: 10px;
    border-style: none;
    outline-style: solid;
    outline-width: 1px;
    width: 250px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 3vw;
  }
  p,
  li {
    font-size: 2vw;
  }

  button,
  textarea,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="number"],
  input[type="text"]:focus,
  input[type="text"]:active,
  input[type="text"] {
    font-size: 2vw !important;
  }
}
